{% extends 'site/base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block content %}
    <h1>Корзина</h1>
    {% if username %}
    {% for noyti in noytis %}
        <h4>Модель ноутбука: {{ noyti.model }}</h4>
        <pre>Цена ноутбука: {{ noyti.cost }}
Количество ноутбуков в наличии: {{ noyti.amount }}
Заказать ноутбуков: <input type="text" name="zakaz" id="zakaz"><form action="cart//basket/" method="post"><input class="button" type="submit" value="Отложить"></form></pre>
    {% endfor %}
    {% endif %}
{% endblock %}