{% extends 'site/base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block content %}
    <h1>Ваш заказ</h1>
    {% if username %}
        <h4>Вы: {{ username }}</h4>
    {% for zak in zakaz %}
        <h4>Вы заказали ноутбук: {{ zak.konkrnote }}</h4>
        <pre>В количестве: {{ zak.zakaz }}
<form action="/basket/note/{{ notebook.id }}/add" method="post">{% csrf_token %}{{ otlo }}        {{ otloj.zakaz }}<input class="button" type="submit" value="Отложить"></form></pre>
    {% endfor %}
    {% endif %}
{% endblock %}